#
# For a description of the synax of this configuration file
#


mainmenu "LinuxLab Configuration"

config MAIN_PROJ_NAME
    string "Project Name"
    default "LinuxLab"
    help
      Must be indicated project name.

choice
    prompt "Setup experiment platform"

config ARCH_ARM
    bool "config experiment platform on ARM"

config ARCH_ARM64
    bool "config experiment platform on ARM64"

endchoice

config ARCH
    string 
    default "arm" if ARCH_ARM
    default "arm64" if ARCH_ARM64

# Bootloader
source boot/Kconfig

# Filesystem
source fs/Kconfig

# ToolChain
source toolchain/Kconfig

# Kernel
source kernel/Kconfig

# Qemu
source rte/Kconfig
