/*
 *  cma_demo.dts
 *  
 *  (C) 2024.12.12 <hkdywg@163.com>
 *
 *  This program is free software; you can redistribute it and/r modify
 *  it under the terms of the GNU General Public License version 2 as
 *  published by the Free Software Foundation.
 * */

/ {
    cma_demo {
    	compatible = "LinuxLab, CMA_DEMO";
    	status = "okay";
    };  
};
