#
# Rootfs configure menu
#

menuconfig ROOTFS
    bool "Root-filesystem"
    default -y
    help
        The rootfs for LinuxLab

if ROOTFS

choice
     prompt "Select rootfs style"
 
config BUSYBOX_ROOT_FS
    bool "Tiny rootfs by busybox"

config BUILD_ROOT_FS
    bool "Embedded relatively complete file system by buildroot"

config DEBIAN_ROOT_FS
    bool "Debian rootfs"

endchoice

if BUSYBOX_ROOT_FS
    source fs/busybox/Kconfig
endif

if BUILD_ROOT_FS
    source fs/buildroot/Kconfig
endif

if DEBIAN_ROOT_FS
    source fs/debian/Kconfig
endif

config ROOTFS_SIZE
    default 150
    int "The size of Rootfs (MB)"

config FREEZE_SIZE
    default 512
    int "The size of Freeze Disk (MB)"

endif # ROOTFS
