#
# Rootfs configure menu
#


menuconfig ROOTFS
    bool "Root-filesystem"
    default -y
    help
        The rootfs for LinuxLab

if ROOTFS

choice
    prompt "Setup busybox source code"

config BUSYBOX_GITHUB
    bool "busybox source code from Github"

config BUSYBOX_WGET
    bool "busybox source code from Wget"

endchoice

config BUSYBOX_SRC
    int
    default 1 if BUSYBOX_GITHUB
    default 2 if BUSYBOX_WGET

config BUSYBOX_VERSION
    string "busybox version"
    default "1.24.2"

source fs/Debian/Kconfig

config ROOTFS_SIZE
    default 150
    int "The size of Rootfs (MB)"

config FREEZE_SIZE
    default 512
    int "The size of Freeze Disk (MB)"

endif # ROOTFS
