menuconfig TOOL_ARM_GNUEABIHF
    bool "arm-linux-gnueabihf"

if TOOL_ARM_GNUEABIHF

choice
    prompt "Setup way to get arm-linux-gnu"

config TOOL_ARM_GNUEABIHF_DL
    bool "arm-linux-gnueabihf from external file"

config TOOL_ARM_GNUEABIHF_WGET
    bool "arm-linux-gnueabihf from wget"

endchoice

config TOOL_ARM_GNUEABIHF_SRC
    int 
    default 1 if TOOL_ARM_GNUEABIHF_DL
    default 2 if TOOL_ARM_GNUEABIHF_WGET

if TOOL_ARM_GNUEABIHF_WGET
choice 
    prompt "Release Version"

config ARM_GNUEABIHF_V7.4-2019.02
    bool "v7.4-2019.02"

endchoice

config ARM_GNUEABIHF_FULL_NAME
    string
    default "7.4-2019.02/arm-linux-gnueabihf/gcc-linaro-7.4.1-2019.02-x86_64_arm-linux-gnueabihf.tar.xz" if ARM_GNUEABIHF_V7.4-2019.02

endif   # endif TOOL_ARM_GNUEABIHF_SRC


if TOOL_ARM_GNUEABIHF_DL
config ARM_GNUEABIHF_VERSION
    string
    default "v7.4-2019.02"
endif # endif TOOL_ARM_GNUEABIHF_DL

endif # endif TOOL_ARM_GNUEABIHF
