menuconfig TOOL_ARM_GNUEABI
    bool "arm-linux-gnueabi"

if TOOL_ARM_GNUEABI

choice
    prompt "Setup way to get arm-linux-gnu"

config TOOL_ARM_GNUEABI_DL
    bool "arm-linux-gnueabi from external file"

config TOOL_ARM_GNUEABI_WGET
    bool "arm-linux-gnueabi from wget"

endchoice

config TOOL_ARM_GNUEABI_SRC
    int 
    default 1 if TOOL_ARM_GNUEABI_DL
    default 2 if TOOL_ARM_GNUEABI_WGET

if TOOL_ARM_GNUEABI_WGET
choice 
    prompt "Release Version"

config ARM_GNUEABI_V7.4-2019.02
    bool "v7.4-2019.02"

endchoice

config ARM_GNUEABI_FULL_NAME
    string
    default "7.4-2019.02/arm-linux-gnueabi/gcc-linaro-7.4.1-2019.02-x86_64_arm-linux-gnueabi.tar.xz" if ARM_GNUEABI_V7.4-2019.02

endif   # endif TOOL_ARM_GNUEABI_SRC


if TOOL_ARM_GNUEABI_DL
config ARM_GNUEABI_VERSION
    string
    default "v7.4-2019.02"
endif # endif TOOL_ARM_GNUEABI_DL

endif # endif TOOL_ARM_GNUEABI
