menuconfig TOOL_AARCH64
    bool "aarch64-linux-gnu"

if TOOL_AARCH64

choice
    prompt "Setup way to get aarch64-linux-gnu"

config TOOL_AARCH64_DL
    bool "aarch64-linux-gnu from external file"

config TOOL_AARCH64_WGET
    bool "aarch64-linux-gnu from wget"

endchoice

config TOOL_AARCH64_SRC
    int 
    default 1 if TOOL_AARCH64_DL
    default 2 if TOOL_AARCH64_WGET

if TOOL_AARCH64_WGET
choice 
    prompt "Release Version"

config AARCH64_V7.4-2019.02
    bool "v7.4-2019.02"

endchoice

config AARCH64_FULL_NAME
    string
    default "7.4-2019.02/aarch64-linux-gnu/gcc-linaro-7.4.1-2019.02-x86_64_aarch64-linux-gnu.tar.xz" if AARCH64_V7.4-2019.02

endif   # endif TOOL_AARCH64_SRC


config AARCH64_VERSION
    string
    default "v7.4-2019.02"

endif # endif TOOL_AARCH64
